src/*.exe
src/bitcoin
src/bitcoind
src/test_bitcoin
src/.deps/
src/.dirstamp
libtorrent/src/.deps/
libtorrent/src/.dirstamp
libtorrent/src/kademlia/.deps/
libtorrent/src/kademlia/.dirstamp
build-aux/
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bitcoin

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/m4/*

#
/config.log
/config.status
/config.report

#
*.lo


# Compilation and Qt preprocessor part
*.qm
Makefile
bitcoin-qt
Bitcoin-Qt.app

# Unit-tests
Makefile.test
bitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile

# Targets
libtool
twister-control
twisterd
